{extends '@layout.latte'}

{block #content}

<h2>{$title}</h2>

<p>Error during request.</p>

<h3>What does it mean?</h3>

<ul>
    <li>Bad server settings.</li>
    <li>Application is not configured well (permissions, database connections etc.).</li>
</ul>
