{extends '../@layout_simple.latte'}

{block #pageTitle}
    <h2>NEW GateWay 2.1 authentication</h2>
{/block}

{block #head_links_layout}
    <link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/css/auth.css" />
{/block}
            
{block #user}{/block}
{block #menu}{/block}
{block #breadcrumbs}{/block}
{block #header}{/block}

{block #textContent}
    <div id="security-login" class="form">
        {control loginForm}
    </div>
{/block}