{extends 'default.latte'}

{block #tabContent}
    <div class="box form" id="connection-base-info-form">
        <h3>Connection's basic information setup</h3>
        
        <div class="inner">
            {control connectionForm}
        </div>
    </div>
{/block}