{extends '../@layout_simple.latte'}

{block #pageTitle}
    <h2>Connection edit</h2>
{/block}

{block #textContent}
    <div class="box form">
        {control connectionForm}
    </div>
{/block}