{extends '@layout.latte'}

{block #content}
    <div class="content simple">
	<div class="text-content">
	    {block #layoutContent}
                {include #breadcrumbs}
            
		{include #pageTitle}
		{include #flashMessages}

		{block #textContent}
		    <p class="warning">Block 'textContent' in Two Columns Layout - must be overriden</p>
		{/block}
	    {/block}
	</div>
    </div>

    <div class="clear"></div>
{/block}